/*
    Created on : 22-oct-2018, 15:35:57
    Author     : iridum
*/

body { color: white; background-color: #333; }

.i-bg-dark { background-color: #111; }

.i-bg-light { background-color: #444; }

.card { color: white; background-color: #333; }

.i-bg-light-skew {
    background: linear-gradient(
                 -2deg,
                 transparent 10%,
                 #444 10%,
                 #444 90%,
                 transparent 90%);
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
}
