/*
    Created on : 22-oct-2018, 15:35:57
    Author     : iridum
*/

.f-poppins { font-family: 'Poppins', sans-serif; }

a { color: inherit; }
a:hover { color: #888; }

.badge { font-size: 100%; }

.welcome-container {
    height: 100vh;
}

.f-gw {
    color: white;
    text-shadow: 1px 0 0 #555, -1px 0 0 #555, 0 1px 0 #555, 0 -1px 0 #555, 1px 1px #555, -1px -1px 0 #555, 1px -1px 0 #555, -1px 1px 0 #555;
}

.wallpaper {
    background-image: url("../img/wallpaper.jpeg");
    background-size: auto 150% !important;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 150vw;
    height: 150vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.b-nor {
    background-color: #fff;
    color: black;
}

.b-inv {
    background-color: #222;
    color: white;
}
